body{
    font-family: 'Poppins', sans-serif;
}
.header-area {
	background: #009af5;
	padding: 10px 0;
}
.header-area .row {
	align-items: center;
}
.logo-area {
	text-align: left;
}
.logo-area a {
	font-size: 45px;
	color: #FFF;
	font-family: 'Akronim', cursive;
	text-decoration: navajowhite;
}
.menubar-area ul {
	display: flex;
	justify-content: center;
	list-style: none;
    margin:0;
	padding:0;
}
.menubar-area ul li {
	margin-left: 30px;
}
.menubar-area ul li a {
	color: #FFF;
	font-size: 16px;
	text-decoration: none !important;
}
.login-area {
	float:right ;
}
.found-area {
	padding: 60px;
}
.found-area img {
	max-width: 445px;
}
.user-information {
	display: flex;
	align-items: center;
}
.user-information h3 {
	font-size: 15px;
	color: #FFF;
	margin: 0;
	padding-right: 6px;
}
.dashboad {
	position: relative;
	height:60px;
	display:flex;
	align-items:center;
}
.dashboad span {
	color: #FFF;
	padding-right: 20px;
	cursor: pointer;
}
.menu-link-style{
	display:block !important;
}
.dashboad .menu-link {
	width: 185px;
	position: absolute;
	background: #0b114a;
	top: 45px;
	right: -24px;
	padding: 6px 0;
	display: none;
}
.menu-link a {
	color: #FFF;
	padding: 6px 10px;
	display: block;
	text-decoration: navajowhite;
}
.dashboad span i {
	padding-left: 6px;
	margin-top: 3px;
	display: inline-block;
	position: relative;
	top: 2px;
	font-size: 20px;
}
.dashboad:hover .menu-link {
	display:block;
}
@media all and (max-width:767px){
	.btn-outline-light {
		font-size: 13px;
	}
	.user-information h3 {
		font-size: 13px;
	}
	.dashboad span {
		font-size: 13px;
	}
	.logo-area {
		text-align: center;
	}
	.content-area {
		padding-top: 0 !important;
	}
	.content-area h2 {
		font-size: 40px !important;
	}
	.doctor-image {
		margin-right: 0 !important;
		margin-top:30px !important;
	}
	.menubar-area ul li {
		margin: 6px 15px !important;
	}
	.title h1 {
		font-size: 40px !important;
	}
	.footer-top-area ul {
		padding-left: 0 !important;
	}
}